<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AveRetrofit"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.RecursosDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.RecursoDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_recurso_detail"
            android:theme="@style/Theme.AveRetrofit" />
        <activity
            android:name=".view.RecursosActivity"
            android:exported="false"
            android:label="@string/title_activity_recursos"
            android:theme="@style/Theme.AveRetrofit" />
        <activity
            android:name=".view.ZonaDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_zona_detail"
            android:theme="@style/Theme.AveRetrofit" />
        <activity
            android:name=".view.ZonaActivity"
            android:exported="false"
            android:label="@string/title_activity_zona"
            android:theme="@style/Theme.AveRetrofit" />
        <activity
            android:name=".view.RecursoActivity"
            android:exported="false"
            android:label="@string/title_activity_recurso"
            android:theme="@style/Theme.AveRetrofit" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AveRetrofit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>